<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LeftMenuItems</key>
	<array>
		<dict>
			<key>dspInLeftViewId</key>
			<integer>1</integer>
			<key>IsResident</key>
			<true/>
			<key>Title</key>
			<string>首页</string>
			<key>KeyName</key>
			<string>Main</string>
			<key>ViewType</key>
			<string>ViewController</string>
			<key>ViewName</key>
			<string>HDMainViewController</string>
			<key>IsShowNav</key>
			<true/>
			<key>selTabBarIndex</key>
			<integer>0</integer>
			<key>dspInTabBarIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>dspInLeftViewId</key>
			<integer>2</integer>
			<key>IsResident</key>
			<true/>
			<key>Title</key>
			<string>问诊</string>
			<key>KeyName</key>
			<string>Mine</string>
			<key>ViewType</key>
			<string>ViewController</string>
			<key>ViewName</key>
			<string>HDAskDoctorViewController</string>
			<key>IsShowNav</key>
			<true/>
			<key>selTabBarIndex</key>
			<integer>1</integer>
			<key>dspInTabBarIndex</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>dspInLeftViewId</key>
			<integer>3</integer>
			<key>IsResident</key>
			<true/>
			<key>ViewType</key>
			<string>ViewController</string>
			<key>IsShowNav</key>
			<string>YES</string>
			<key>ViewName</key>
			<string>HDScheduleViewController</string>
			<key>KeyName</key>
			<string>CakeList</string>
			<key>Title</key>
			<string>预约</string>
			<key>selTabBarIndex</key>
			<integer>2</integer>
			<key>dspInTabBarIndex</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>dspInLeftViewId</key>
			<integer>4</integer>
			<key>IsResident</key>
			<true/>
			<key>Title</key>
			<string>我的</string>
			<key>KeyName</key>
			<string>News</string>
			<key>ViewType</key>
			<string>ViewController</string>
			<key>ViewName</key>
			<string>HDMineViewController</string>
			<key>IsShowNav</key>
			<string>YES</string>
			<key>selTabBarIndex</key>
			<integer>3</integer>
			<key>dspInTabBarIndex</key>
			<integer>3</integer>
		</dict>
	</array>
</dict>
</plist>
